<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recommending Thai Food Ingredient Substitutions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="author" content="Peerapat Pitak"/>
    <meta name="description" content="RECOMMENDING THAI FOOD INGREDIENT SUBSTITUTIONS"/>
    <meta name="keywords" content="RECOMMENDING THAI FOOD INGREDIENT SUBSTITUTIONS"/>
    <meta name="Resource-type" content="Document"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
</head>
<body>
I't Worked <p th:text="${#calendars.format(#calendars.createNow(), 'dd MMM yyyy HH:mm')}"></p>
<a href='swagger-ui.html' target="_blank"><button>Swagger UI</button></a>
</body>
</html>

